{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{!-- The big featured header, it uses blog cover image as a BG if available --}}

{{!-- Everything inside the #post tags pulls data from the post --}}
<main id="site-main" class="site-main outer">
    <div class="inner">
        <div class="post-feed">
            {{!-- <div class="post-card jumbotron">
                <h1>Welcome to freeCodeCamp News.</h1>
                <h2>This is a free, open source, no-ads place to cross-post your blog articles. Read about it
                    <a href="https://www.freecodecamp.org/forum/t/279929">here</a>.</h2>
            </div> --}}

            {{#foreach posts}}
            {{> "post-card"}}
            {{/foreach}}
        </div>
    </div>
</main>

{{!-- The #contentFor helper here will send everything inside it up to the matching #block helper found in default.hbs --}}
{{#contentFor "scripts"}}
<script src="https://unpkg.com/@tryghost/content-api@1.2.4/umd/content-api.min.js"></script>
<script>
    const api = new GhostContentAPI({
        url: 'http://localhost:2368',
        key: 'bdf4bdfbfa603dfe9e791adcb7',
        version: 'v2'
    });

    /*var today = new Date();

    var dd = today.getDate();
    var mm = today.getMonth() + 1; //As January is 0.
    var yyyy = today.getFullYear();

    let largeDate = { year: 2019, month: 7, day: 3 }

    let smallDate = { year: 2019, month: 7, day: 3 }*/

    // fetch 5 posts, including related tags and authors
    api.posts
        .browse({ filter: `published_at:>'2019-07-22'+ published_at:<'2019-07-20'`, limit: 15 })
        .then((posts) => {
            posts.forEach((post) => {
                console.log(post.title);
            });
        })
        .catch((err) => {
            console.error(err);
        });
</script>


<script>

    /* const api = new GhostContentAPI({
         url: 'https://localhost:2368',
         key: 'bdf4bdfbfa603dfe9e791adcb7',
         version: 'v2'
     });
 */

    $(function () {
        var $postContent = $(".post-full-content");
        $postContent.fitVids();
    });
</script>
{{/contentFor}}